<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>HBnB</title>
</head>
<body>
    <header>
        <img src="../static/images/logo.png" atl="Logo" class="logo">
        <a href="login.html" class="login-button">Login</a>
        <nav>
            <ul>
                <li><a href="/add_review">Add review</a></li>
                <li><a href="/login" id="login-link">Login</a></li>       
            </ul>
        </nav>
    </header>
    <main>
        <section id="filter">
            <h1>Places</h1>
            <label for="price-filter">Filter by price</label>
            <select id="price-filter">
                <!-- Options will be populated dynamically -->
                <option value="all">All</option>
                <option value="5000">Under 5000</option>
                <option value="3000">Under 3000</option>
                <option value="1000">Under 1000</option>
            </select>
        </section>
        <section id="places-list">
            <!-- List of places will be populated dynamically -->
            {% if places %}
                {% for place in places %}
                <p>{{ place.title }}</p>
                {% endfor %}
            {% else %}
            <p>No places available</p>
            {% endif %}
        </section>
    </main>
    <script src="scripts.js"></script>
</body>
<footer>
    <p>© 2024 HBnB Evolution. All Rights Reserved</p>
</footer>
</html>