<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>HBnB</title>
</head>
<body>
    <header>
        <img src="../static/images/logo.png" atl="Logo" class="logo">
        <nav>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('login') }}" class="login-button">Login</a>
        </nav>        
    </header>
    <main>
        <section id="filter">
            <!-- <h1>Places</h1> -->
            <div class="filter-wrapper">
                <label for="price-filter">Filter by price</label>
                <select id="price-filter">
                    <!-- Options will be populated dynamically -->
                    <option value="10.0">Under $10</option>
                    <option value="50.0">Under $50</option>
                    <option value="100.0">Under $100</option>
                    <option value="all">All</option>
                </select>
            </div>
        </section>
        <section id="places-list">
            <!-- List of places will be populated dynamically -->
            {% if places %}
            <div class="card-container">
                {% for place in places %}
                <div class="place-card">
                    <img src="https://images.pexels.com/photos/2893177/pexels-photo-2893177.jpeg" alt="place image" class="place-image">
                    <div class="card-content">
                        <div class="card-header">
                            <h3>{{ place.title }}</h3>
                            <p class="price">Price: <span>${{ place.price }}</span></p>
                        </div>
                        <a class="details-button" href="{{ url_for('place_page', place_id=place.id) }}" >View Details</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p>No places available</p>
            {% endif %}
        </section>
    </main>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
<footer>
    <p>© 2024 HBnB Evolution. All Rights Reserved</p>
</footer>
</html>