<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>HBnB</title>
</head>
<body>
    <header>
        <img src="../static/images/logo.png" atl="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}" class="login-button">Login</a></li>
            </ul>
        </nav>        
    </header>
    <main>
        <section id="filter">
            <h1>Places</h1>
            <label for="price-filter">Filter by price</label>
            <select id="price-filter">
                <!-- Options will be populated dynamically -->
                <option value="10">Under $10</option>
                <option value="50">Under $50</option>
                <option value="100">Under $100</option>
                <option value="all">All</option>
            </select>
        </section>
        <section id="places-list">
            <!-- List of places will be populated dynamically -->
            {% if places %}
                {% for place in places %}
                <div class="place-card">
                    <h3>{{ place.title }}</h3>
                    <p>Price: ${{ place.price }}</p>
                    <a href="/place/{{ place.place_id }}" class="details-button">View Details</a>
                </div>
                {% endfor %}
            {% else %}
            <p>No places available</p>
            {% endif %}
        </section>
    </main>
    <script src="scripts.js"></script>
</body>
<footer>
    <p>© 2024 HBnB Evolution. All Rights Reserved</p>
</footer>
</html>