<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <header>
        <img src="../static/images/logo.png" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}" class="login-button">Login</a></li>
            </ul>
        </nav>        
    </header>
    <main>
        <section id="place-details">
            <!-- Place details will be populated dynamically -->
            <h2>{{ place.title }}</h2>
            <p><strong>Host:</strong>{{ place.owner['first_name'] }}</p>
            <p><strong>Price:</strong>{{ place.price }}</p>
            <p><strong>Descripion</strong>{{ place.description }}</p>
        </section>
        <section id="reviews">
            <!-- Reviews will be populated dynamically -->
            <h3>Amenities</h3>
            <ul>
                {% for amenity in place.amenities}
                <li>{{ amenity }}</li>
                {% endfor %}
            </ul>
        </section>
        <section id="reviews">
            {% if place['reviews'] %}
                {% for review in place['reviews'] %}
                <div class="review">
                    <p><strong>{{ review['author'] }}</strong> - Rating: {{ review.rating }}</p>
                    <p>{{ review.text }}</p>
                </div>
                {% endfor %}
            {% else % }
            <p>No reviews available</p>
            {% endif %}
        </section>
    </main>
    <script src="scripts.js"></script>
</body>
<footer>
    <p>© 2024 HBnB Evolution. All Rights Reserved</p>
</footer>
</html>